<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <header>
        <h1>Welcome to Our Website</h1>
        <nav>
            <ul>
                <li><a href="/login.html">Login</a></li>
                <li><a href="/registration.html">Register</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Home Page Content</h2>
        <p>This is the home page of my website.</p>
    </main>

    
</body>
</html>
