<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <header>
        <h1>Create a New Account</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Registration Form</h2>
        <form action="register.php" method="post">

            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Register</button>
        </form>
    </main>

    
</body>
</html>